/* @import url(https://cdn.icon-icons.com/icons2/317/PNG/512/light-bulb-icon_34400.png); */
/* div{
height: 150px;
  width: 150px;
  display: flex;
} */
/* img{
    text-align: right;
    float: right;
} */
.exp-cards {
    display: flex;
}

.exp-cards img {
    height: 125px;
}
